/* Main CSS for Portfolio page */

/* View Formatting */
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: linear-gradient(#fdfdfd,#fafafa,#b0bec5) !important;
    }

    main {
        flex: 1 0 auto;
    }

/* Header Formatting (View) */

    .parallax-container-main {
        height: 100vh;
    }
    .upperHeader {
        height: 60vh;
        margin-top: 20vh;
    }
    .lowerHeader {
        height: 20vh;
        margin: 0%;
    }

/* Header Formatting (Text) */

    .reset-marg-pad {
        margin: 0%;
        padding: 0%;
    }

    .siteTitle {
        margin-top: 15vh;
        height: 20vh;
    }

    .positionTitle {
        margin-top: 5vh;
        height: 10vh;
    }

    .welcomeText {
        margin-top: 20vh;
        height: 10vh;
    }

    .arrorwIcon {
        font-size: 5vh !important;
        font-family: 'Open Sans', sans-serif;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

/* Text and Content Formatting */

    .question {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .mainContent {
        font-family: 'Open Sans', sans-serif;
    }

    .mainContentHighlighted {
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .subtitle-Project {
        font-size: 15px;
    }

    .techIcon {
        font-size: 5vh !important;
        margin: 20px;
    }

    .chevron-icon {
        font-size: 3vh !important;
        transition: color 0.1s;
    }
    .chevron-icon:hover {
        color: #b0bec5!important;
    }
    
    .tab {
        margin-left: 40px;
    }

    .tab-small {
        margin-left: 15px;
    }

    .projectLink {
        margin-right: 2vh;
        font-size: 30px;
        transition: color 0.1s;
    }
    .projectLink:hover {
        color: #b0bec5!important;
    }
    
    .min-Margin {
        margin-top:3px;
        margin-bottom: 3px;
    }
    .min-Padding {
        padding-top: 0;
        padding-top: 0;
    }
    .link-Footer {
        margin-right: 15px;
        font-size: 30px;
        margin-bottom: 5px;
        transition: color 0.1s;
    }
    .link-Footer:hover {
        color: #b0bec5!important;
    }

    .link-Action-Btn {
        transition: color 0.1s;
    }

    .link-Action-Btn:hover {
        color: #b0bec5!important;
    }

    .hover-Color {
        transition: color 0.1s;
    }
    
    .hover-Color:hover {
        color: #37474f!important;
    }


    